*.pyc
*.idea
*.db
*.db-journal
*.sass-cache
*.orig
*.retry
*.tgz
.vaultfile
Gemfile.lock
config/config.ini
config/credentials.json
config/locations.yml
config/settings.yml
static/dist/
node_modules/
venv/
core
